.lr-Layout {
    .splitter {
        width: 15px;
        background: transparent;
        height: 100%;
        cursor: pointer;
    }

    .splitter:hover {
        background: #e3e3e3;
        border-radius: 6px;
    }

    .side {
        background: #fff;
        height: 100%;
        padding: 20px;
    }

    .container {
        background: #fff;
        height: 100%;
        padding: 20px;
    }
}
