.portal-card {
    height: 100%;
    padding: 24px;
    background: #ffffff;

    .header {
        height: 40px;
        border-bottom: 1px solid grey;
    }
    .title {
        font-weight: bold;
        font-size: 16px;
    }
}
