html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

canvas {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}


.ant-descriptions .ant-descriptions-row > th,
.ant-descriptions .ant-descriptions-row > td {
    padding-bottom: 10px !important;
}

.ant-descriptions-item-content {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .ant-table {
        width: 100%;
        overflow-x: auto;

        &-thead > tr,
        &-tbody > tr {
            > th,
            > td {
                white-space: pre;

                > span {
                    display: block;
                }
            }
        }
    }
}

.colorWeak {
    filter: invert(80%);
}

.ant-layout {
    min-height: 100vh;
}

.ant-pro-sider .ant-layout-sider .ant-pro-sider-fixed {
    left: unset;
}

.ant-pro-top-nav-header-logo {
    margin-right: 32px;

    img {
        height: 32px !important;
    }
}

.ant-pro-top-nav-header-logo > *:first-child > h1 {
    margin-left: 20px;
    font-size: 18px !important;
}

.ant-pro-top-nav-header-menu {
    padding: 0 !important;
}

.ant-pro-top-nav-header-base-menu,
.ant-pro-top-nav-header-base-menu .ant-pro-base-menu-item-title {
    height: 100%;
}

.ant-timeline-item {
    font-size: 14px;
}

.diff-content {
    padding: 24px;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    font-family: Consolas, 'Courier New', monospace;
    white-space: pre;
    background: rgb(43 43 43);
}

.vditor-reset {
    max-width: 100% !important;
    padding: 20px !important;
}

.custom-title {
    display: flex;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;

    .title {
        width: 200px;
    }

    .toolbar {
        width: calc(100% - 200px);
        font-weight: normal;
        font-size: 14px;
        text-align: right;
    }
}

.custom-label {
    color: rgba(0, 0, 0, 0.45);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5714285714285714;
    text-align: start;
}

.news-contain {
    .tag {
        display: inline-block;
        margin-right: 10px;
        padding: 1px 4px;
    }

    .default {
        background: whitesmoke;
        border: 1px solid #eaeaea;
    }

    .orange {
        color: #d46b08;
        background: #fff7e6;
        border: 1px solid #ffd591;
    }
}
